a {
    color: inherit;
    text-decoration: none;
    }
    .rr-container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .rr-container::after {
        clear: both;
    }
    @media screen and (min-width: 60em) and (max-width: 100em) {
        .rr-container {
        width: 80%
    }
}

@media screen and (min-width: 100em) {
    .rr-container {
    width: 50%;
    }
 }

.rr-page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid;
}
.rr-page-header > .rr-app-title {
    margin-top: 0;
    margin-bottom: 0;
}

.rr-app-title > .rr-subtitle {
    font-weight: normal;
}

.list > li {
    margin-bottom: 10px;
}

.page-header a h1 {
    color: #555;
}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.songs .rating {
    color: #aaa;
    font-size: 1.1em;
}
    
.empty-list {
    min-height: 100px;
    text-align: center;
}
    
.empty-list .empty-message {
    display: inline-block;
    color: #555;
    line-height: 100px;
}
    
.band-link .pointer {
    float: right;
    display: none;
}
    
.band-link.active .pointer {
    display: block;
}

.new-band {
    width: 82%;
}
    
.new-band-button {
    float: right;
    padding: 3px 10px;
}
    
.new-song {
    width: 50%;
}
    
.new-song-button {
    margin-left: 20px;
}

.rating-panel > .rating-star {
    cursor: pointer;
}